.clause{
	margin-top:20px;
	margin-bottom:20px;
	height:180px;
	background-color:pink;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $darkGrey;
	@include user-select(text);
	text-align:left;
	@include box-sizing(border-box);
	padding: 10px 15px;

	&.trans{
		margin-bottom:0px;
	}

	h2{
		margin:0;
		font-size:11px;
		display:inline;
		//white-space: pre;
		line-height: 21px;

		&.dataVar{
			background-color: $lightGreen;
		}
	}

}

.clauseTitle{
	height:5%;
	h1{
		@include labelFontStyle;
		margin:0;
	}
}