$lightGrey : #F2F2F3;
$darkGrey: #E7E8E9;
$textGrey: #595A5C;
$lightGreen: #B8E2E1;
$darkGreen: #7ACCC6;
$lightOrange: #FBCBBC;
$darkOrange: #D77F59;
$lightPurple: #B4B0D7;
$darkPurple: #8F8FC6;
$pastelRed: #DD8087;
