!!! 5
%html
	%head
		%title= "Label Machines - Contract Creator"
		%meta{ :content => "MY DESCRIPTION", :name => "description" }
		%meta{ :content => "MY AUTHOR", :name => "author" }
		%meta{ :charset => "UTF-8" }
		%link{ :href => "./css/main.css", :media => "screen", :rel => "stylesheet" }
		%script{:type => 'text/javascript', :data => {:main => 'js/main'}, :src => 'js/require.js'}
	%body
		#container
			#overlay
			#context
				#moreInfo
					%h2 WHY??
				#error

			/#logo
			#progress
				#progressContainer
			#navButtons
				.button.backButton BACK
				.button.nextButton.active NEXT
			.panel.welcome
				.content
					.welcomeCard
						#contractLogo
						%h1 LabelMachin.es
						%h2 The world's first open source record label contract.
						.button.moreInfo MORE INFO
						.button.beginButton BEGIN

			#templatesContainer

				.panel.endCard
					.endNote You're done.
					.content
						.half
							.survey
								%label Add your label's logo
								#uploadInit Upload a 200px square JPEG
								/ %label Your email:
								/ %input#labelEmail
								%input#uploader{ :type => 'file', :multipart => true }

						.half.r
							.survey
								%label Come back to this contract:
								%input#bitly
								/ %label Your artist's email:
								/ %input#artistEmail

						.termsConditions I agree to the terms and conditions.

						.half
							.button.download#contract DOWNLOAD CONTRACT


						.half.r
							.button.download#translations DOWNLOAD TRANSLATIONS




		/ :javascript
		/ 	var _gaq = _gaq || [];
		/ 	_gaq.push(['_setAccount', YOUR_CODE']);
		/ 	_gaq.push(['_trackPageview']);
		/ 	(function() {
		/ 	var ga = document.createElement('script');
		/ 	ga.type = 'text/javascript'; ga.async = true;
		/ 	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		/ 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		/ 	})();